@import "../../styles/settings/_settings";
.page {
  background-color: #141313;
  flex-direction: column;
  width: 100%;
  min-height: 100svh;
}

.pageWrap {
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
}

.imageContainer {
  width: fit-content;
  width: 100%;
  height: 100svh;
  background-color: $black;
  display: flex;
  position: relative;
  @media (max-height: 500px) {
    display: none;
  }
}

.textContainer {
  width: 100%;
  padding: 5% 10% 0 10%;
  flex-direction: column;
}

.mainTitle {
  position: relative;
  font-size: 2.2em;
  font-weight: 600;
  color: $barely-white;
  margin-bottom: 0.5em;
  left: 0.3em;
  top: -0.2em;
}

.subtext {
  font-size: 1em;
  font-weight: 400;
  color: $light-gray;
}

.rectangleContainer {
  $width: 2em;
  position: absolute;
  width: $width;
  height: $width * 28/31;
}

.dropdownContainer {
  align-items: center;
  margin: 1em 0 2em 0;
  width: 27em;
}

.searchbarContainer {
  align-items: center;
  margin: 0;
  width: 25em;
}

.input {
  margin: 0;
  color: $barely-white;
  div[data-focus="true"] {
    border-color: $very-light-green !important;
    *svg {
      color: $very-light-green;
    }
  }
}